<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}

 #t01 tr:not(:first-child){
   cursor: pointer;transition: all .25s ease-in-out;
   }
 #t01 tr:not(:first-child):hover{background-color: #ADD8E6;}
</style>
    <script type="text/javascript">
        var htmlcontent = document.getElementById('aFlights').innerHTML;
        function showalert(){
            var getSelectedValue = document.querySelector('input[name="fselect"]:checked');
            var getSelectedValue1 = document.querySelector('input[name="forgin"]');
            var getSelectedValue2 = document.querySelector('input[name="fdtime"]');
            if(getSelectedValue != null) {
                document.getElementById("disp").innerHTML
                    = getSelectedValue.value;
                document.getElementById("error").innerHTML
                    = getSelectedValue2.value
                    + " id is selected";
            }
            else {
                document.getElementById("error").innerHTML
                    = "*You have not selected any flights";
            }
        }

         var table = document.getElementById('t01');

                {% for i in d %}
                {
                    table.rows[i].onclick = function()
                    {
                         document.getElementById("disp").value = this.cells[1].innerHTML + " fname is selected";
                    };
                }
                  {% endfor %}
    </script>
</head>
<body>
<div id='aFlights'>
<center><h1>Flight Schedule</h1></center>
<table id="t01" class="center">
    <tr>
        <th>Id</th>
        <th>Flight Name</th>
        <th>Orgin</th>
        <th>Destination</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Duration(HH:MM)</th>
        <th>Basic Amount</th>
        <th>Child Amount</th>
        <th>Infant Amount</th>
        <th>Business Class Amount</th>
        <th>Window Seat Amount</th>
        <th>Weight Can Carry</th>
    </tr>
    <tr>
        {% for i in d %}
        <form action="booking" method="post" enctype="multipart/form-data">
            {% csrf_token %}
        <td><input type="radio" id=fselect name="fselect" value={{i.id}} onclick="showalert()">
        <br>{{i.id}}
        <input type="hidden" id=aid name="aid" value={{i.id}}>
        </td>
        <td>{{i.addflightnameid.fname}}</td>
        <td><input type="hidden" id="forgin" name="forgin" value={{i.orgin.orgin}}>{{i.orgin.orgin}}</td>
        <td>{{i.destination.destination}}</td>
        <td><input type="hidden" id="fddate" name="fddate" value={{ddate}}>{{ddate}}</td>
        <td><input type="hidden" id="fdtime" name="fdtime" value={{i.dtime}}>{{i.dtime}}</td>
        <td>{{i.htime}} : {{i.mtime}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.camount}}</td>
        <td>{{i.iamount}}</td>
        <td>{{i.bcamount}}</td>
        <td>{{i.wsamount}}</td>
        <td>{{i.weight}}</td>
        <!--<td>
                   <select name="bclass" id="bclass">
                    <option value="Economy">Economy</option>
                    <option value="Business">Business</option>
                  </select>
                  <br><br>

        </td>-->

    </tr>
    {% endfor %}
</table>
</div>
<div style="text-align:center">
   <br><br> <input type="submit" value="Book Now">
</div>
<div style="text-align:center">
    <br><a href="Userhomehome"><input type="submit" name="userhome" value="HOME"></a>
</div>
<h3 id="disp" style= "color:green"> </h3>
<h4 id="error" style= "color:red"> </h4>
</body>
</html>